*.csv text eol=lf
*.json text eol=lf
*.md text eol=lf
*.R text eol=lf
*.tab text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.dta binary
*.pdf binary
*.zip binary
data/*/knowledge-battery.csv -text
*.sav binary
*.parquet binary
data/northern-ireland-2007/groups.csv -text
data/*/codebook.txt -text
*.doc binary
*.docx binary
*.xls binary
*.xlsx binary
data/*/questionnaires/** -text -whitespace
data/*/codebooks/** -text -whitespace
data/*/briefing-materials/** -text -whitespace
data/*/papers/** -text -whitespace
data/*/reports/** -text -whitespace
data/*/design/** -text -whitespace
data/*/other/** -text -whitespace
